.natedintro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../Resources/landing-background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 50%;
    color: white;
    padding: 20% 0;
    text-align: center;
}

.companyname {
    color: white;
}