html {
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.15;
}

body {
  font-family: Georgia, serif;
}

.referenceworks {
  background-color: #f3f3f3;
}

.contactus {
  padding: 2% 0;
}

h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}

@media (min-width: 769px) {
	.header {
    position: fixed;
  }
  .home {
    margin-top: 101px;
  }
}